.contact-icon{
    height: 40px;
    width: 40px;
}
.form-control{
    font-size: 12px;
    font-family: Roboto;
}
@media only screen and (min-width: 768px){
    .contact-icon{
        height: 40px;
        width: 40px;
        float: right;
    }
}