<!-- Something new about us -->
<div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-5 text-center text-review align-self-center">
        <h3 class="ff-roboto fw-bold">
          <span> HELLO WORLD </span>
        </h3>
        <div class="fs-6 fw-medium ff-roboto">
          <span>
            We are proud to introduce an online education platform where knowledge
            is free and accessible to everyone. At DotNetJunior, we are committed
            to providing high-quality courses that are easy to access and
            completely free.
          </span>
        </div>
        <h3 class="ff-roboto mt-4 fw-bold">
          <span> System.Console.WriteLine(); </span>
        </h3>
        <div class="fs-6 fw-medium ff-roboto">
          <span>
            In addition to the free courses, we also offer a wide range of
            projects, from basic to advanced, at DotnetJunior. All of these
            projects aim to give you a comprehensive insight into building various
            projects.
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-7 mt-5 mt-lg-0 overflow-hidden" style="height: 340px">
        <div class="overflow-hidden">
          <div class="row gx-4">
            <div class="col-4">
              <div
                class="flex-wrap scroll-img position-relative"
                style="animation-duration: 45s"
              >
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section1/1.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section1/2.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section1/3.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section1/4.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section1/5.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="flex-wrap scroll-img-reverse position-relative"
                style="animation-duration: 45s"
              >
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/1.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/2.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/3.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/4.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/5.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/6.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/7.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section2/8.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="flex-wrap scroll-img position-relative"
                style="animation-duration: 35s"
              >
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section3/1.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section3/2.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section3/3.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section3/4.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section3/5.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="wrap-section-img img-fluid"
                    src="/assets/scroll-imgs/section3/6.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  