<!-- This is a demo module code, you can change anything here -->
<!-- Banner -->
<div ng-controller="BannerController" class="container-fluid w-100 overflow-hidden">
  <div class="row">
    <div class="banner-section-1 col-lg-4 col-md-6 px-5 py-4">
      <div
        class=""
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
        "
      >
        <div class="banner-welcome text-banner">Welcome to</div>
        <div class="banner-logo-name text-banner d-flex">
          <span class="logo-name" id="logo-change">DotnetJunior</span>
        </div>
        <div class="banner-details text-banner">
          Sharing experience and projects helps you improve your programing
          skill
        </div>
        <div class="banner-goal text-banner">
          Learning how to think like a programer
        </div>
        <div class="banner-goal text-banner">
          Building wonderfull application
        </div>
        <div class="banner-goal text-banner">
          Create your own Websites and APIs
        </div>
      </div>
    </div>

    <div class="banner-section-2 col-lg-5 col-md-6 px-5 py-4 bg-info-subtle">
      <div
        class=""
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
        "
      >
        <div class="d-flex banner-mid-li">
          <div class="bg-info banner-mid-box">
            <img
              class="img-fluid banner-mid-img"
              src="../../assets/banner/1.png"
              style="scale: 0.8"
              alt=""
            />
          </div>
          <div class="mt-auto mb-auto mx-3 banner-mid-li text-banner">
            Free courses to learn
          </div>
        </div>
        <div class="d-flex banner-mid-li">
          <div class="bg-info banner-mid-box">
            <img
              class="img-fluid banner-mid-img"
              src="../../assets/banner/2.png"
              style="scale: 0.85"
              alt=""
            />
          </div>
          <div class="mt-auto mb-auto mx-3 banner-mid-li text-banner">
            Easy to get start
          </div>
        </div>
        <div class="d-flex banner-mid-li">
          <div class="bg-info banner-mid-box">
            <img
              class="img-fluid banner-mid-img"
              src="../../assets/banner/3.png"
              alt=""
            />
          </div>
          <div class="mt-auto mb-auto mx-3 banner-mid-li text-banner">
            Lots of assignments to practice
          </div>
        </div>
        <div class="d-flex banner-mid-li">
          <div class="bg-info banner-mid-box">
            <img
              class="img-fluid banner-mid-img"
              src="../../assets/banner/4.png"
              alt=""
            />
          </div>
          <div class="mt-auto mb-auto mx-3 banner-mid-li text-banner">
            Quickly download example
          </div>
        </div>
        <div class="d-flex banner-mid-li">
          <div class="bg-info banner-mid-box">
            <img
              class="img-fluid banner-mid-img"
              src="../../assets/banner/5.png"
              alt=""
            />
          </div>
          <div class="mt-auto mb-auto mx-3 banner-mid-li text-banner">
            Strong community
          </div>
        </div>
        <div class="d-flex banner-mid-li">
          <div class="bg-info banner-mid-box">
            <img
              class="img-fluid banner-mid-img"
              src="../../assets/banner/6.png"
              alt=""
            />
          </div>
          <div class="mt-auto mb-auto mx-3 banner-mid-li text-banner">
            You focus, you get better!
          </div>
        </div>
      </div>
    </div>

    <div
      class="banner-section-2 col-lg-3 bg-info-subtle"
      style="position: relative"
    >
      <img
        src="../../assets/banner/sd.png"
        alt=""
        style="
          position: absolute;
          right: 0;
          height: 100%;
          max-height: 350px;
          transform: scaleX(-1);
        "
      />
    </div>
  </div>
</div>
