  <!-- What DotnetJunior course offers -->
  <div class="container border-top py-5">
    <div class="mb-4 title p-2 text-center" style="width: 350px">
      What <span>DotnetJunior</span> Course Offers
      <div class="bg-info-subtle title-bg fill-from-left-element"></div>
      <div class="title-bg-hover"></div>
    </div>
    <div class="row g-4">
      <div class="col-md-6 zoom-in-element-2  demo-animation-2">
        <div class="row m-0 box-offer">
          <div class="col-3 col-sm-3 col-md-4 col-lg-3">
            <img class="img-fluid" src="../../assets/criteria/1.jpg" alt="" style="width: 100%" />
          </div>
          <div class="col-9 col-sm-9 col-md-8 col-lg-9">
            <div class="box-offer-title">EASY FOR NEWBIES</div>
            <div class="box-offer-p">
              If your are new, we are here for you. Our courses are
              understandable and accessible. Just jump right into any of them,
              follow it and soon, you will be better.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 zoom-in-element-2  demo-animation-2">
        <div class="row m-0 box-offer">
          <div class="col-3 col-sm-3 col-md-4 col-lg-3">
            <img class="img-fluid" src="../../assets/criteria/2.jpg" alt="" style="width: 100%" />
          </div>
          <div class="col-9 col-sm-9 col-md-8 col-lg-9">
            <div class="box-offer-title">EVERYTHING IS FREE</div>
            <div class="box-offer-p">
              Our courses are completely free. You can easily access any of
              them without spending any amount of money. Learn as much as you
              can.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 zoom-in-element-2  demo-animation-2">
        <div class="row m-0 box-offer">
          <div class="col-3 col-sm-3 col-md-4 col-lg-3">
            <img class="img-fluid" src="../../assets/criteria/3.jpg" alt="" style="width: 100%" />
          </div>
          <div class="col-9 col-sm-9 col-md-8 col-lg-9">
            <div class="box-offer-title">FAST TRACK LEARNING</div>
            <div class="box-offer-p">
              Time is gold. There are tons of features in very short time. But
              in a way that are easy to access. Do not worry if you dont have
              much free time.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 zoom-in-element-2  demo-animation-2">
        <div class="row m-0 box-offer">
          <div class="col-3 col-sm-3 col-md-4 col-lg-3">
            <img class="img-fluid" src="../../assets/criteria/4.jpg" alt="" style="width: 100%" />
          </div>
          <div class="col-9 col-sm-9 col-md-8 col-lg-9">
            <div class="box-offer-title">THINK LIKE A PROGRAMER</div>
            <div class="box-offer-p">
              When you watch the course, you will learn on how to tackle
              problems from a programmer's point of view and architect the
              solution.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 zoom-in-element-2  demo-animation-2">
        <div class="row m-0 box-offer">
          <div class="col-3 col-sm-3 col-md-4 col-lg-3">
            <img class="img-fluid" src="../../assets/criteria/5.jpg" alt="" style="width: 100%" />
          </div>
          <div class="col-9 col-sm-9 col-md-8 col-lg-9">
            <div class="box-offer-title">COURSE SUPPORT</div>
            <div class="box-offer-p">
              No course is complete without any support. If you face issues,
              just contact us to get 100% support. We are all listen to you.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 zoom-in-element-2  demo-animation-2">
        <div class="row m-0 box-offer">
          <div class="col-3 col-sm-3 col-md-4 col-lg-3">
            <img class="img-fluid" src="../../assets/criteria/6.jpg" alt="" style="width: 100%" />
          </div>
          <div class="col-9 col-sm-9 col-md-8 col-lg-9">
            <div class="box-offer-title">PRACTICE AS MUCH AS YOU WANT</div>
            <div class="box-offer-p">
              We have lots of assignment for you. You can pick any of them if
              you want and try to solve it. Start with easy level first. Then,
              go on and go on.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>