<!-- Footer -->
<div class="bg-body-secondary">
  <div class="container-fluid border-top border-bottom">
    <div class="container">
      <div class="row py-4">
        <div class="col-12 col-lg-4 p-3">
          <ul
            class="nav nav-pills mb-3 bg-white border fw-medium"
            style="font-family: Roboto; border-radius: 7px"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false"
              >
                Contact
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-guest-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-guest"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                Guest
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-partner-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-partner"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                Partner
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-contact"
              role="tabpanel"
              aria-labelledby="pills-contact-tab"
            >
              <div class="form-floating mb-3">
                <input
                  readonly
                  type="email"
                  class="form-control"
                  id="contactEmail"
                  value="conghau31052004@gmail.com"
                />
                <label for="contactEmail">Email address</label>
              </div>
              <div class="form-floating">
                <input
                  readonly
                  type="text"
                  class="form-control"
                  id="contactPhone"
                  value="0775541796"
                />
                <label for="contactPhone">Phone number</label>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-guest"
              role="tabpanel"
              aria-labelledby="pills-guest-tab"
            >
              <form>
                <div class="mb-2">
                  <input
                    type="text"
                    placeholder="Full name"
                    class="form-control"
                    id="inputNameGuest"
                  />
                </div>
                <div class="mb-2">
                  <input
                    type="email"
                    placeholder="Email"
                    class="form-control"
                    id="inputEmailGuest"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-2">
                  <input
                    type="number"
                    placeholder="Phone"
                    class="form-control"
                    id="inputPhoneGuest"
                  />
                </div>
                <div class="mb-2">
                  <textarea
                    class="form-control"
                    placeholder="What is your problem ?"
                    rows="3"
                    style="resize: none"
                  ></textarea>
                </div>
                <div class="row mx-0 mt-3">
                  <button type="submit" class="btn btn-primary fs-13 fw-bold">
                    Send to us
                  </button>
                </div>
              </form>
            </div>
            <div
              class="tab-pane fade"
              id="pills-partner"
              role="tabpanel"
              aria-labelledby="pills-partner-tab"
            >
              <form>
                <div class="mb-2">
                  <input
                    type="text"
                    placeholder="Company name"
                    class="form-control"
                    id="inputNamePartner"
                  />
                </div>
                <div class="mb-2">
                  <input
                    type="email"
                    placeholder="Email"
                    class="form-control"
                    id="inputEmailPartner"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-2">
                  <input
                    type="number"
                    placeholder="Phone"
                    class="form-control"
                    id="inputPhonePartner"
                  />
                </div>
                <div class="mb-2">
                  <textarea
                    class="form-control"
                    placeholder="What is your problem ?"
                    rows="3"
                    style="resize: none"
                  ></textarea>
                </div>
                <div class="row mx-0 mt-3">
                  <button type="submit" class="btn btn-primary fs-13 fw-bold">
                    Send to us
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-8"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row py-4">
      <div class="col-md-3">
        <a
          href="#"
          class="row d-flex align-items-center mb-3 link-dark text-decoration-none"
          style="
            font-size: 18px;
            font-weight: bold;
            font-family: Inter, sans-serif;
          "
        >
          <div class="col-3">
            <img
              src="../../assets/DotnetJunior.png"
              style="height: 50px"
              alt=""
            />
          </div>
          <div class="col-6">DotnetJunior Website</div>
        </a>
        <p class="text-muted">&copy; 2024</p>
      </div>

      <div class="col-md-2">
        <h5>Pages</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">About</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Contact</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>Projects</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Aplication</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Website</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Game</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>Languages</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">C sharp</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">JavaScript</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Python</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-3 mb-3">
            <img
              src="../../assets/icons/facebook.png"
              alt=""
              class="contact-icon"
            />
          </div>
          <div class="col-3 mb-3">
            <img
              src="../../assets/icons/youtube.png"
              alt=""
              class="contact-icon"
            />
          </div>
          <div class="col-3 mb-3">
            <img
              src="../../assets/icons/instagram.png"
              alt=""
              class="contact-icon"
            />
          </div>
          <div class="col-3 mb-3">
            <img
              src="../../assets/icons/twitter.png"
              alt=""
              class="contact-icon"
            />
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
